body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: rgb(225, 170, 66);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .editorcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    position: absolute;
  }
  
  .editorinfo {
    padding: 20px;
    margin-top: 70px;
    text-align: center;
    position: center;
  }
  
  .editorinfo h1 {
    font-family: "Rock Salt", cursive;
  }
  
  .editorinfo h2 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  
  .editorinfo p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  
  .editorinfo h3 a {
    font-family: "Belleza", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(68, 61, 196);
    text-decoration: none;
  }
  
  .editorinfo img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  #goBack{
    font-size: 15pt;
    justify-content: center;
    background-color: rgb(28, 222, 22);
    color: white;
    text-align: center;
    border-color: beige;
    border-radius: 5px;
    height: 35px;
    position: relative;
    left: 47%;
    margin: 20px;
  }

  #goBack:hover{
    background-color: chocolate;
  }
  
