body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:#ffffff ;
    margin-top: 60px;
}

.container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically align items in the center */
    justify-content: center; /* Horizontally align items in the center */
    width: 200px; /* Set a fixed width for the buttons */
    height: 400px; /* Set a fixed height for the buttons */
    padding: 10px; /* Adjust the padding as needed */
    margin: 0 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 8px #ffffff;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    
}

.button:hover {
    background-color: #ffffff;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #757171;
    transform: translateY(3px);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button span {
    margin-top: 150px;
    background-color: #32ba57;
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff; /* Set the text color to white */
    font-weight: bold; /* Optionally set font weight */
}




.content {
    margin-top: 30px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
}

.column-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
