* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: 800ms;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

}

#quizPage {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #419ad9;
  display: flex;
  overflow: hidden;
}

#quizMap {
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(0deg); /*change this value to get 3d kinda effect lord!*/
}

.mainLand {
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.beach {
  width: 420px;
}

.seaBlob{
  left: 50%;
  top: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -99;
}

#welcomeContent{
  color: white;
  margin: auto;
  transform: width 0.6 ease;
  position: relative;
  left: 0%;

}

h1{
  font-family: 'Lilita One', cursive;
  font-size: 128px;
  font-weight: 400;

}

span{
  font-size: 42px;
}

.startQuizbtn{
  padding: 20px 30px;
  margin-top: 32px;
  border-radius: 18px;
  width: fit-content;
  background-color:black;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
  font-size: 32px;
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;

}

.startQuizbtn:hover{
  background-color: #216b98;
  color: white;

}

.welcomeContent .icons{
  margin-right: 18px;
}

#quizContent{
  height: 100vh;
  width: 53%;
  background-color: white;
  /* display: flex; */
  display: none;
  flex-direction: column;
  position: relative;
  right: -100%;
  padding: 25px 30px;
  z-index: 30;
  overflow-y: scroll;
}



#topbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;

}

#quizContent h1{

  font-size: 52px;
  font-family: 'Jua', sans-serif;
  font-weight: bold;

}

#timer{
  font-size: 38px;
  font-family: 'Candal', sans-serif;
  color: #44cb4f;
}

#question{
  font-size: 28px;
  padding-top: 60px;
}

#qNo{
  position: absolute;
  top: 5px;
  left: 10px;
  font-family:'Anton',sans-serif;
  color: rgb(255, 252, 230);
  text-shadow: 2px 2px #ff0000;
  display: none;
}

.answerContainer{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.btn{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  background: #bff36d;
  border-radius: 10px;
  padding: 15px 25px;
  border: 2px solid #73ce03;
  margin: 5px 0px;
  cursor: pointer;

}

.btn:hover{
  color: white;
  background: #799b44;
  border-color: #293b09;
}
.bottomBar{
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
.nextbtn{
  background: #1337a3;
  border: 2px solid #170234;
  color: white;
  font-family: 'Candal', sans-serif;


}

.correct{
  background: #36cb23;
  color: white;
}

.correct:hover{
  background: #2ab817;
}

.incorrect{
  background: #f1423c;
  color: white;
  border-color: red;
}

.incorrect:hover{
  background: #f52c25;

}

.nextbtn:hover{
  background: #0b1021;
}

#scoreboard{
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500;

}

.scorecontainer{
  background-color: #0b1944;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(247, 255, 213);
  padding: 30px 40px 40px 40px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 400px;
  position: relative;
}
.scorecontainer h1{
  font-size: 40px;
}

#scoretxt{
  margin-top: 26px;
}

#motiveword{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

#closebtn{
  padding: 0.5px 8px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  position: absolute;
  right: -15.5px;
  top: -15.5px;
  box-shadow: 0px 0px 15px rgb(165, 165, 165);
}
#closebtn:hover{
  scale: 1.1;
}